body{
    background: #e8c5c5;
    margin-left:200px;
    margin-right:200px;
}

header{
    margin-top:100px;
}

h1{ 
    color: red;
    font-family: fantasy;
}
h2{
    font-family: fantasy
}
p{
    font-size:18px;
}

footer{
    margin-top:50px;
}

.img_padrao{
    margin-bottom: 20px;
    width:300px;
}

.logo{
    margin-bottom: 30px;
    width:100px;
}